<!--for X.PagedList Start-->
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    var pagedList = (IPagedList)ViewBag.PageList;
}
<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/css/popoStyle.css" rel="stylesheet" type="text/css" />
<script src="~/js/popoLib.js" type="text/javascript"></script>


<link href="~/lib/magicsearch/jquery.magicsearch.css" rel="stylesheet" type="text/css" />
<script src="~/lib/magicsearch/jquery-2.2.3.min.js" type="text/javascript"></script>
<script src="~/lib/magicsearch/jquery.magicsearch.js" type="text/javascript"></script>



<!--for X.PagedList Edn-->
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>




<script>
    //開啟編輯畫面
    function showEdit(workId) {
        alert(workId);
        $('#showLoadingForEdit').show();

        if (workId != "") {

            //===修改===先藏起來等載完資料再顯示
            $('#editUI').hide();
            CallServerFunction("mesWork/GetWorkData?workID=002", null, loadEditDataComplete);
        }
        else {
            //===新增===清空TextBox
            $('#lblWorkID').val('');
            $('#txtWorkName').val('');
            $('#txtSRNo').val('');
            $('#txtSRTitle').val('');
            //顯示
            $('#showLoadingForEdit').hide();
            $('#editUI').show();
        }

        $('#editPanel').modal('show');
    }

    function loadEditDataComplete(workData) {
        //alert(workData);
        //alert(workData.workName);   //注意大小寫有差

        $('#showLoadingForEdit').hide();
        $('#editUI').show();
    }
</script>





<!-- Create Buttom -->
<input type="button" class="btn btn-primary" value="Create" onclick="showEdit('001'); " />

<!-- Grid Table Start -->
<table class="table1">
    <tr>
        <th>SR No</th>
        <th>Title</th>
        <th>Detail</th>
        <th>IT</th>
        <th>Due</th>
        <th>Status</th>
        <th>Modify</th>
        <th>ID</th>
    </tr>

    @foreach (MESWork item in ViewBag.PageList)
    {
        <tr>

            <td>@Html.DisplayFor(modelItem2 => item.SRNo)</td>
            <td>@Html.DisplayFor(modelItem2 => item.WorkName)</td>
            <td>@Html.DisplayFor(modelItem2 => item.WorkDetail)</td>
            <td>@Html.DisplayFor(modelItem2 => item.OwnerIT)</td>
            <td>@Html.DisplayFor(modelItem2 => item.DateDue)</td>
            <td>@Html.DisplayFor(modelItem2 => item.Status)</td>
            <td><input type="button" class="btn btn-primary" style="font-size: x-small; padding-top: 1px; padding-bottom: 1px;" value="Modify" onclick="showEdit('@item.WorkID'); " /></td>
            <td>@Html.DisplayFor(modelItem2 => item.WorkID)</td>
        </tr>
    }

</table>
<!-- Grid Table End -->
<!--for X.PagedList Start-->
@Html.PagedListPager(pagedList, page => Url.Action("Index", new { page }), X.PagedList.Web.Common.PagedListRenderOptions.Classic)
<!--for X.PagedList End-->

<input type="file" class="multi" accept="gif|jpg" />
<input type="file" multiple
       class="multi maxsize-15120 with-preview" accept="xlsx" />



<div id="editPanel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="padding:20px;">
            <div id="showLoadingForEdit">Loading...</div>
            <form method="post" action="mesWork/Create">
                <table id="editUI">
                    <tr>
                        <th>WorkID</th>
                        <td><span id="lblWorkID"></span></td>
                    </tr>
                    <tr>
                        <th>Owner</th>
                        <td><input type="text" class="magicsearch" style="width:150px !important; height:25px !important;" id="basicXX" placeholder="search..."></td>
                    </tr>
                    <tr>
                        <th>WorkName</th>
                        <td><input type="text" value="" style="height:25px !important;" name="txtWorkName" /></td>
                    </tr>
                    <tr>
                        <th>SR No</th>
                        <td><input type="text" value="" style="height:25px !important;" name="txtSRNo" /></td>
                    </tr>
                    <tr>
                        <th>SR Title</th>
                        <td><input type="text" value="" style="height:25px !important;" name="txtSRTitle" /></td>
                    </tr>


                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Save" class="btn btn-success" />
                            <input type="button" value="Cancel" class="btn btn-warning" onclick="$('#editPanel').modal('hide');" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>


<!-- magicsearch -->
<script>
    var dataSource = [
        { id: 'C2043', notesID: 'Potato', cName: '黃群凱' },
        { id: '2', notesID: 'Eric', cName: 'Baker' },
        { id: '3', notesID: 'Victor', cName: 'Brown' },
        { id: '4', notesID: 'Lisa', cName: 'White' },
        { id: '5', notesID: 'Oliver', cName: 'Bull' },
        { id: '6', notesID: 'Zade', cName: 'Stock' },
        { id: '7', notesID: 'David', cName: 'Reed' },
        { id: '8', notesID: 'George', cName: 'Hand' },
        { id: '9', notesID: 'Tony', cName: 'Well' },
        { id: '10', notesID: 'Bruce', cName: 'Wayne' },
    ];
    $('#basicXX').magicsearch({
        dataSource: dataSource,
        fields: ['id', 'notesID', 'cName'],
        id: 'id',
        format: ' %notesID% (%cName%)',
        dropdownBtn: true,
        focusShow: true
    });
</script>





